In [5]:
import requests
import pandas

# results = requests.get("http://localhost:6200/api/stocks")

In [6]:
pandas.DataFrame(results.json()).groupby(['symbol'])

NameError: name 'results' is not defined

In [7]:
import redis

r = redis.Redis(host='localhost', port=6379, db=0)
ts = r.ts()

In [8]:
from datetime import datetime, timedelta

In [9]:
l = ts.range("pcmd", "-", "+", latest=True)
l

[(1693411760245, 123.0),
 (1693412117654, 22.0),
 (1693412128374, 22.0),
 (1693413307242, 1.0)]

In [11]:
ts.revrange('pcmd', '-', '+', cou)

[(1693413307242, 1.0),
 (1693412128374, 22.0),
 (1693412117654, 22.0),
 (1693411760245, 123.0)]

In [333]:
last = ts.get("pcmd")
last

(1693413307242, 1.0)

In [46]:
datetime.fromtimestamp(last[0]/ 1000)

datetime.datetime(2023, 8, 30, 18, 35, 7, 242000)

In [ ]:
r.exists("pcmd")

In [ ]:
pubsub = r.pubsub()

In [25]:
keys = r.keys()
keys[0].decode('ascii')== 'TERRAVEST INDUSTRIES INC'
terra = ts.revrange(keys[0], '-', '+')

In [35]:
print(terra[0])
d = terra[0][0]
print(d)
datetime.fromtimestamp(d / 1_000)

(1794673845185, 18.09621661725303)
1794673845185

datetime.datetime(2026, 11, 14, 17, 30, 45, 185000)

In [33]:
ts.range(keys[0], 1794673845185, 1794673845185)

[(1794673845185, 18.09621661725303)]

In [ ]:
pubsub.subscribe("channel1")

In [21]:
# for message in pubsub.listen():
#     print(message)

def start(func, *args, **kwargs):
    if isinstance(func, str):
        wrapper = lambda x: getattr(x, func)(*args, **kwargs)
    else:
        wrapper = lambda x: func(x, *args, **kwargs)
    n = [1,2,3,4,5,6,7,8,9]
    for i in n:
        if wrapper(i):
            yield i

list(start(lambda x: x > 2))

[3, 4, 5, 6, 7, 8, 9]

In [53]:
ts = datetime.now().timestamp()

datetime.fromtimestamp(ts)

datetime.datetime(2023, 9, 18, 9, 55, 42, 954089)

In [66]:
days = [i + 1 for i in range(10)]
output = []
dates = [(datetime.now() + timedelta(days=-i)).timestamp() for i in days]
dates.sort()

In [127]:
def get_hprice_from_symbol(symbol: str, depth:int = 10) -> list[any]:
    output = []
    r = redis.Redis(host='localhost', port=6379, db=0)
    ts = r.ts()
    tsrev = ts.revrange(symbol, '-', '+', depth)
    for item in tsrev:
        output.append((datetime.fromtimestamp(item[0] / 1_000), item[1]))
    output.reverse()
    return output

In [129]:
get_hprice_from_symbol('CHINA SUN GROUP HIGH-TECH CO')

[(datetime.datetime(2024, 5, 15, 15, 1, 24, 712000), 16308.048772587164),
 (datetime.datetime(2024, 5, 16, 15, 1, 24, 712000), 16471.129260313035),
 (datetime.datetime(2024, 5, 17, 15, 1, 24, 712000), 16141.706675106774),
 (datetime.datetime(2024, 5, 18, 15, 1, 24, 712000), 15334.621341351436),
 (datetime.datetime(2024, 5, 19, 15, 1, 24, 712000), 15641.313768178465),
 (datetime.datetime(2024, 5, 20, 15, 1, 24, 712000), 14702.834942087757),
 (datetime.datetime(2024, 5, 21, 15, 1, 24, 712000), 15732.0333880339),
 (datetime.datetime(2024, 5, 22, 15, 1, 24, 712000), 16833.275725196272),
 (datetime.datetime(2024, 5, 23, 15, 1, 24, 712000), 16328.277453440383),
 (datetime.datetime(2024, 5, 24, 15, 1, 24, 712000), 15348.58080623396)]

In [117]:
datetime.now().timestamp()
ts.add('abc', int(datetime.now().timestamp() * 1000), 123)

1695042297254

In [130]:
import numpy

numpy.std([2, 1.8,2.2,2])

0.14142135623730953

In [332]:
h = get_hprice_from_symbol('CHINA SUN GROUP HIGH-TECH CO', depth=2)
a_h = [i[1] for i in h ]
numpy.std(a_h) / numpy.mean(a_h) * 100

2.9126213592233037

In [144]:
numpy.mean(a_h)

15730.305630793539

In [335]:
import tomli

with open('../configuration.toml', mode='rb') as f:
    c = tomli.load(f)

In [336]:
c

{'redis': {'server': 'abc'}, 'sql': {'server': 'vde'}}

In [337]:
c['redis']

{'server': 'abc'}

'/Users/alexandreluu/Projects/next-ptf-webserver/Notebooks'